<template>
  <div class="container">
    <div  v-if="loading">
      <p>LOADING...</p>
    </div>
    <div v-if="!loading">
      <h1>Development Team</h1>
      <div v-for="item in content" :key="item.fields.name">
        <p>Name: {{ item.fields.name }}</p>
        <p>Role: {{ item.fields.role }}</p>
        <p>City: {{ item.fields.city }}</p>
        <hr/>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'HelloWorld',
  props: {
    msg: String,
  },
  computed: {
    ...mapState(['loading']),
    content() {
      return this.$store.state.content.length > 0
        ? this.$store.state.content
        : this.$store.dispatch('getContent');
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
